<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div class="container-fluid d-flex flex-column p-0"><a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-rocket"></i></div>
      <div class="sidebar-brand-text mx-3"><span>FLASHQUIZ</span></div>
    </a>
    <hr class="sidebar-divider my-0" />
    <ul class="navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item"><a class="nav-link" href="/quizzes"><i class="fa fa-th-list"></i><span>Quiz List</span></a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/quizzes/random"><i class="fa fa-random"></i><span>Random
            Quiz</span></a></li>
      <% if (userName) { %>
        <li class="nav-item"><a class="nav-link" href="/users/<%= userName %> /quizzes "><i
              class="fa fa-user"></i><span>My
              Quizzes</span></a>
        </li>

        <li class="nav-item"><a class="nav-link" href="/quizzes/new"><i class="fa fa-plus"></i><span>Quiz
              Creator</span></a>
        </li>
        <li class="nav-item">
          <form class="form-inline" method="POST" action="/sessions?_method=DELETE" type="submit"><button
              class="btn nav-link" type="submit"><i class="fa fa-user-times"></i><span>Logout</span></button></form>
        </li>
        <% } else { %>
          <li class="nav-item"><a class="nav-link" href="/sessions/new"><i
                class="far fa-user-circle"></i><span>Login</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/users/new"><i
                class="fas fa-user-circle"></i><span>Register</span></a></li>

          <% } %>
    </ul>
    <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
        type="button"></button></div>
  </div>
</nav>
