<div class="card shadow border-left-primary py-2" id="play-question-card"
  style="width: 90%;padding-left: 0px;margin-right: 0;max-width: 500px;border-radius: 10px;">
  <div class="card-body">
    <div class="row align-items-center no-gutters" style="margin-bottom: 24px;">
      <div class="col mr-2">
        <h3 style="font-family: Montserrat, sans-serif;font-weight: bold;color: var(--gray-dark);"><strong>What is the
            capital of Canada?</strong></h3>
      </div>
    </div>
    <div class="row align-items-center no-gutters">
      <div class="col d-flex flex-column mr-2"><button class="btn btn-primary" data-aos="fade-up" type="button"
          style="background: var(--blue);font-family: Montserrat, sans-serif;font-weight: bold;text-align: left;margin-bottom: 12px;border-radius: 45px;border-width: 8px;">A.&nbsp;
          &nbsp; Ottawa&nbsp;</button><button class="btn btn-primary" type="button"
          style="font-family: Montserrat, sans-serif;font-weight: bold;text-align: left;margin-bottom: 12px;border-radius: 45px;border-width: 8px;">C.&nbsp;
          &nbsp; Paris&nbsp;</button></div>
      <div class="col d-flex flex-column mr-2"><button class="btn btn-primary" type="button"
          style="font-family: Montserrat, sans-serif;font-weight: bold;text-align: left;margin-bottom: 12px;border-radius: 45px;border-width: 8px;">B.&nbsp;
          &nbsp; &nbsp;Frankfurt&nbsp;</button><button class="btn btn-primary" type="button"
          style="font-family: Montserrat, sans-serif;font-weight: bold;text-align: left;margin-bottom: 12px;border-radius: 45px;border-width: 8px;">D.&nbsp;
          &nbsp; &nbsp;Las Vegas&nbsp;</button></div>
    </div>
  </div>
  <div class="progress" style="border-radius: 0px;border-width: -22px;border-style: none;">
    <div class="progress-bar progress-bar-animated" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
      style="width: 50%;"><span class="sr-only">50%</span></div>
  </div>
</div>
