<div class="card-body">
  <div class="row align-items-center no-gutters" id="play_stats_disp" style="padding-bottom: 24px;">
    <div class="col d-flex flex-column mr-2">
      <div class="d-flex flex-column align-items-center" style>
        <span id="disp_accuracy">67%</span>
        <span id="tag_accuracy">ACCURACY</span>
      </div>
      <div class="d-flex flex-column align-items-center" style>
        <span id="disp_time">00:56</span>
        <span id="tag_time">MINUTES</span>
      </div>
      <div class="d-flex flex-column align-items-center" style>
        <span id="disp_points">35,000</span>
        <span id="tag_points">POINTS</span>
      </div>
    </div>
  </div>
  <div class="row align-items-center no-gutters" id="play_stats_action">
    <div class="col d-flex flex-column mr-2">
      <a class="btn btn-primary action_button" role="button" href="/what">SHARE</a>
    </div>
    <div class="col d-flex flex-column mr-2">
      <a class="btn btn-primary action_button" role="button" style="font-weight: bold;" href="/quizzes/:quizID/play">TRY
        AGAIN</a>
    </div>
    <div class="col d-flex flex-column mr-2">
      <a class="btn btn-primary action_button" role="button" href="/quizzes/:quizID">LEAVE</a>
    </div>
  </div>
</div>