<div class="card shadow border-left-primary py-2 quiz_card" data-aos="flip-up" data-aos-delay="250"
  data-aos-once="true">
  <div class="card-body">
    <div class="row align-items-center no-gutters">
      <div class="col mr-2 quiz_card_info">
        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span class="quiz_name">
            <%= quiz.title %>
          </span><span class="created_by">created by you</span></div>
        <div class="text-dark font-weight-bold h5 mb-0"><span class="quiz_desc">
            <%= quiz.description %>
          </span></div>
      </div>
      <div class="col-auto d-flex flex-row justify-content-between">
        <form class="nav-link" method="POST" action="/quizzes/<%=quiz.getQuizId()%>;?_method=DELETE"><i
            class="fas fa-trash-alt fa-2x text-gray-300"></i></form>
      </div>
    </div>
  </div>
</div>
