<div class="card shadow border-left-primary py-2" data-aos="flip-up" data-aos-delay="250" data-aos-once="true"
  style="margin-bottom: 12px;">
  <div class="card-body">
    <div class="row align-items-center no-gutters">
      <div class="col mr-2" style="padding-right: 12px;">
        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
            style="font-family: 'Bebas Neue', cursive;font-weight: normal;font-size: 24px;">The super fast
            quiz</span><span
            style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;color: var(--gray-dark);margin-left: 12px;">created
            by you</span></div>
        <div class="text-dark font-weight-bold h5 mb-0"><span
            style="font-family: Montserrat, sans-serif;font-size: 14px;">diam quis enim lobortis scelerisque fermentum
            dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae
            tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed
            augue lacus viverra vitae congue eu consequat ac felis donec</span></div>
      </div>
      <div class="col-auto d-flex flex-row justify-content-between"><i class="fas fa-trash-alt fa-2x text-gray-300"
          data-bss-hover-animate="swing"></i></div>
    </div>
  </div>
</div>
