<div class="card shadow border-left-primary py-2 quiz_card" data-aos="flip-up" data-aos-delay="250"
  data-aos-once="true">
  <div class="card-body">
    <div class="row align-items-center no-gutters">
      <div class="col mr-2 quiz_card_content">
        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span class="quiz_name">
            <%= quiz.title %>
          </span><span class="created_by">created by <%= quiz._ownerId %> </span></div>
        <div class="text-dark font-weight-bold h5 mb-0 quiz_desc"><span>
            <%= quiz.description %>
          </span></div>
      </div>
      <a class="nav-link stretched-link" href="/quizzes/<%=quiz._quizId_%>">
        <i class="fas fa-play-circle fa-2x text-gray-300"></i></a>
    </div>
  </div>
</div>
