<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>New Quiz - FLASHQUIZ</title>
  <link rel="icon" type="image/svg+xml" sizes="150x150" href="/img/rocket-solid.svg">
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="/styles/create.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <%- include('../partials/nav') %>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <div class="container-fluid">
            <h1 class="text-center text-dark mb-1">Rocket Science<br>Rocket Speed</h1>
          </div>
          <form class="d-flex flex-column align-items-center" method="GET" action="/quizzes" id="new_quiz">
            <div class="container d-flex flex-column align-items-center">
              <div class="card shadow border-left-primary py-2 create_card" data-aos="flip-up" data-aos-delay="250"
                data-aos-once="true">
                <div class="card-body"><span class="card_type">QUIZ INFORMATION</span>
                  <div class="form-group"><label class="input_type">TITLE</label><input
                      class="border rounded-pill border-primary form-control visible" type="text" name="title"
                      placeholder="Give a name to your quiz" required="" maxlength="255" required></div>
                  <div class="form-group"><label class="input_type">DESCRIPTION</label><textarea
                      class="border rounded-pill border-primary form-control" spellcheck="true" wrap="soft"
                      placeholder="What's your quiz about?" maxlength="150" required="" name="description"
                      required></textarea>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="is_public" name="is_public" />
                      <label class="form-check-label input_type" for="formCheck-1">I WANT MY QUIZ TO BE PRIVATE</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container d-flex flex-column align-items-center" id="questions_container">

            </div>
            <div class="d-flex flex-column align-items-center"><i
                class="fa fa-plus-circle d-xl-flex justify-content-xl-center" id="add_question"></i>
            </div>
            <button class="btn btn-primary btn-lg" id="submit_new_quiz" type="submit">Create Quiz</button>
          </form>
        </div>
        <%- include('../partials/footer') %>

      </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <%- include('../partials/vendor_scripts') %>
    <script src="/classes/classes.js"></script>
    <script src="/scripts/createQuiz.js"> </script>
    <script src="/constants/createQuestionCard.js"></script>
</body>

</html>
