<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>
    Playing: <%= quiz.title %> - FLASHQUIZ
  </title>
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
  <link rel="stylesheet" href="/styles/q_play.css">
</head>

<body id="play-body">
  <div class="container-fluid">
    <!-- TODO: Iterate Questions -->
  </div>
  <footer class="bg-white sticky-footer" id="play-footer"><a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-rocket"></i></div>
      <div class="sidebar-brand-text mx-3"><span>FLASHQUIZ</span></div>
    </a>
    <div class="container my-auto">
      <div class="text-center my-auto copyright"><span>Copyright © FlashQuiz 2021</span></div>
    </div>
  </footer>
  <% include('../partials/vendor_scripts') %>

</body>

</html>
