<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Blank Page - Brand</title>
  <link rel="stylesheet" href="vendor/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
  <link rel="stylesheet" href="vendor/q_welcome.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <div class="container-fluid d-flex flex-column p-0"><a
          class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-rocket"></i></div>
          <div class="sidebar-brand-text mx-3"><span>FLASHQUIZ</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item"><a class="nav-link" href="table.html"><i class="fa fa-th-list"></i><span>Quiz
                List</span></a></li>
          <li class="nav-item"><a class="nav-link" href="table.html"><i class="fa fa-random"></i><span>Random
                Quiz</span></a></li>
          <li class="nav-item"><a class="nav-link" href="profile.html"><i class="fa fa-user"></i><span>My
                Quizzes</span></a></li>
          <li class="nav-item"><a class="nav-link" href="table.html"><i class="fa fa-plus"></i><span>Quiz
                Creator</span></a></li>
          <li class="nav-item"><a class="nav-link" href="login.html"><i
                class="far fa-user-circle"></i><span>Login</span></a></li>
          <li class="nav-item"><a class="nav-link" href="register.html"><i
                class="fas fa-user-circle"></i><span>Register</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
            type="button"></button></div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <div class="container-fluid d-flex flex-column align-items-center">
          <h1 class="text-center text-dark mb-1">THE SUPER FAST QUIZ</h1>
          <p class="text-center"><strong>diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam
              viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia
              quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae
              congue eu consequat ac felis donec</strong></p><i
            class="fa fa-play-circle d-xl-flex justify-content-xl-center"></i>
        </div>
        <div class="container-fluid d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-once="true">
          <h2 class="text-center text-dark mb-1">LEADERBOARD</h2>
          <div class="table-responsive table-borderless">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Accuracy</th>
                  <th>Time</th>
                  <th>Points</th>
                </tr>
              </thead>
              <tbody>
                <!-- TODO - Insert leaderboard_row.ejs partial template -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © FlashQuiz 2021</span></div>
        </div>
      </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/bs-init.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
  <script src="vendor/theme.js"></script>
</body>

</html>
